 html,
 body,
 * {
     padding: 0;
     margin: 0;
     font-family: Montserrat Alternates;
     font-style: normal;
     font-weight: 500;
 }
 
 .grid {
     display: grid;
     width: 1260px;
     grid-template-columns: 0.5fr 8fr 2fr;
 }
 /* .uzor-wrapper {
    display: inline-block;
    z-index: 0;
    height: 100vh;
    background: url(/img/uzor.png) no-repeat;
} */
 
 .uzor-wrapper {
     padding-left: 30px;
 }
 
 .card-wrapper img {
     max-height: 190px;
     max-width: 190px;
     border-radius: 100px;
     border: 3px solid #998FC7;
 }
 
 .card-wrapper {
     display: inline-flex;
     flex-direction: row;
     margin: 0 auto;
     margin-left: 40px;
 }
 
 .avatar-wrapper {
     margin: 60px 0px 0px 60px;
     padding-bottom: 15px;
     width: 80%;
     height: 40px;
     border-bottom: 5px solid #998FC7;
 }
 
 .avatar-wrapper img {
     border: none;
 }
 
 .pic-name {
     font-size: 32px;
     line-height: 39px;
 }
 
 .tg-logo-and-text a {
     color: #000000;
     text-decoration: solid;
     tab-size: 14px;
 }
 
 .tg-logo-and-text p {
     font-size: 20px;
     line-height: 24px;
 }
 
 .courses-wrapper {
     padding-top: 80px;
 }
 
 .courses-wrapper h3 {
     font-size: 30px;
     line-height: 37px;
     padding-bottom: 30px;
 }
 
 .but {
     width: 250px;
     height: 55px;
     background: #998FC7;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     text-align: center;
 }
 
 .course-name {
     position: relative;
     width: 158px;
     height: 27px;
     left: calc(50% - 158px/2);
     top: calc(50% - 27px/2);
     font-family: Montserrat Alternates;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 22px;
     color: #FFFFFF;
 }
 
 .desc {
     font-family: Montserrat Alternates;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 22px;
     text-align: left;
     color: #000000;
     padding-top: 20px;
 }
 
 h3,
 .but {
     text-align: center;
     margin: 0 auto;
 }
 
 .course {
     margin-bottom: 100px;
     border: 10px ridge #998FC7;
     border-radius: 35px;
     padding: 20px;
 }
 
 .full-desc {
     font-family: Comfortaa;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 20px;
 }